ul li.nav-item a.nav-link.active {
    border-bottom: solid #E86D1F 2px;
}

.background-image {
    background: url(../images/windmills-orange.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    min-height: 480px;
    color: white;
}

.jumbotron-fluid {
    padding-top: 150px;
}

.card-icon {
    height: 18px;
}

.search-form {

}

.search-input {

}

.head-bar {
  position: fixed;
  display: flex;
  z-index: 1;
  width:100%;
  padding: .5rem 1rem;
  align-items: center;

}

form {

}

.card-btn {
    height: 1.8rem;
    width: 1.8rem;
}

a.nav-link {
    color: #E86D1F;
    /*color: #221F72;*/
}

h4 {
    color: #221F72;
}

.border-bottom {
    border-bottom: 1px solid #cccccc;
}
