ul li.nav-item a.nav-link.active {
    border-bottom: solid blue 2px;
}

.background-image {
    background: url(../images/windmills-orange.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-icon {
    height: 18px;
}

.card-btn {
    height: 1.8rem;
    width: 1.8rem;
    /*padding: 0px;*/
    /*margin: 0.1rem;*/
}